<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div align="center" class="heading">
      <h3>Press the button when following symbol appears on one of the coulmns</h3>
      <i class="{{whichSymbol}}"></i> 
    </div>

    <div align="center" ng-if="levelPrompt">
      <h3>{{levelPrompt}}</h3> 
    </div>

    <div align="center" ng-if="failurePrompt">
      <h3>{{failurePrompt}}</h3> 
    </div>

    <div class="row mainRow">

      <div class="col col1" align="center">
        <div class="ionicon1">
          <i class="icon {{current_symbol_for_list1}}"></i>
        </div>
      </div>

      <div class="col col2" align="center">
        <div class="ionicon2">
          <i class="icon {{current_symbol_for_list2}}"></i>
        </div>
      </div>

      <div class="col col3" align="center">
        <div class="ionicon3">
          <i class="icon {{current_symbol_for_list3}}"></i>
        </div>
      </div>

    </div>

    <div class="row startButtonRow">
      <div class="col" align="center">
        <button class="button button-dark startButton" ng-click="start()" ng-disabled="disableStart">Start</button>
      </div>
      <div class="col" align="center">
        <button class="button button-dark startButton" ng-click="stopTimer()" ng-disabled="disableStop">Stop</button>
      </div>
    </div>
  

  </ion-content>
</ion-view>
