.heading{

	padding: 1cm;

}

.startButtonRow {
	 
	 padding-top: 2cm;
}
.mainRow{

	padding-top: 3cm;
}

.heading i {

	font-size: 1cm;

}

.myButton{

	line-height: 5vh !important;
	width: 40%;
}

.startButton{

	line-height: 6vh !important;
	width: 15%;
}


.start{

	padding: 6cm;
}
.col1{

	background-color: #BCAAA4;
	height: 5cm;
	margin-top: 3cm;
}

.ionicon1{

	padding-top: 2cm
}

.col2{

	background-color: #B0BEC5;
	height: 5cm
}
.ionicon2{

	padding-top: 2cm
}

.col3{

	background-color: #C5E1A5;
	height: 5cm;
	margin-top: -3cm;
}
.ionicon3{

	padding-top: 2cm
}

.col1 i {

	font-size: 3em;
}

.col2 i {

	font-size: 3em;
}

.col3 i {

	font-size: 3em;
}